In [1]:
import numpy as py
import pandas as pd
df=pd.read_csv(r"C:\Users\welcome\Desktop\iris.csv")
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

In [3]:
df.isnull().sum()

Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

In [4]:
from sklearn.model_selection import train_test_split

x=df[['SepalLengthCm','SepalWidthCm','PetalLengthCm','PetalWidthCm']]
y=df['Species']

x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.20)

In [5]:
x_train

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
16             5.4           3.9            1.3           0.4
69             5.6           2.5            3.9           1.1
112            6.8           3.0            5.5           2.1
122            7.7           2.8            6.7           2.0
95             5.7           3.0            4.2           1.2
..             ...           ...            ...           ...
148            6.2           3.4            5.4           2.3
147            6.5           3.0            5.2           2.0
8              4.4           2.9            1.4           0.2
20             5.4           3.4            1.7           0.2
28             5.2           3.4            1.4           0.2

[120 rows x 4 columns]

In [6]:
x_test

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
139            6.9           3.1            5.4           2.1
68             6.2           2.2            4.5           1.5
89             5.5           2.5            4.0           1.3
35             5.0           3.2            1.2           0.2
6              4.6           3.4            1.4           0.3
13             4.3           3.0            1.1           0.1
73             6.1           2.8            4.7           1.2
25             5.0           3.0            1.6           0.2
48             5.3           3.7            1.5           0.2
31             5.4           3.4            1.5           0.4
19             5.1           3.8            1.5           0.3
111            6.4           2.7            5.3           1.9
145            6.7           3.0            5.2           2.3
102            7.1           3.0            5.9           2.1
76             6.8           2.8            4.8           1.4
78             6.0           2.9            4.5           1.5
131            7.9           3.8            6.4           2.0
116            6.5           3.0            5.5           1.8
94             5.6           2.7            4.2           1.3
128            6.4           2.8            5.6           2.1
82             5.8           2.7            3.9           1.2
53             5.5           2.3            4.0           1.3
132            6.4           2.8            5.6           2.2
140            6.7           3.1            5.6           2.4
32             5.2           4.1            1.5           0.1
135            7.7           3.0            6.1           2.3
146            6.3           2.5            5.0           1.9
50             7.0           3.2            4.7           1.4
59             5.2           2.7            3.9           1.4
42             4.4           3.2            1.3           0.2

In [7]:
y_train

16         Iris-setosa
69     Iris-versicolor
112     Iris-virginica
122     Iris-virginica
95     Iris-versicolor
            ...
148     Iris-virginica
147     Iris-virginica
8          Iris-setosa
20         Iris-setosa
28         Iris-setosa
Name: Species, Length: 120, dtype: object

In [8]:
y_test

139     Iris-virginica
68     Iris-versicolor
89     Iris-versicolor
35         Iris-setosa
6          Iris-setosa
13         Iris-setosa
73     Iris-versicolor
25         Iris-setosa
48         Iris-setosa
31         Iris-setosa
19         Iris-setosa
111     Iris-virginica
145     Iris-virginica
102     Iris-virginica
76     Iris-versicolor
78     Iris-versicolor
131     Iris-virginica
116     Iris-virginica
94     Iris-versicolor
128     Iris-virginica
82     Iris-versicolor
53     Iris-versicolor
132     Iris-virginica
140     Iris-virginica
32         Iris-setosa
135     Iris-virginica
146     Iris-virginica
50     Iris-versicolor
59     Iris-versicolor
42         Iris-setosa
Name: Species, dtype: object

In [9]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

clf=KNeighborsClassifier(n_neighbors=3)

clf.fit(x,y)

y_pred=clf.predict(x_test)
score=accuracy_score(y_test,y_pred)
print(score)

1.0